.item {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: black;
  width: 170px;
  height: 170px;
  margin: 10px;
}

.pic {
  height: 160px;
  width: 160px;
  border-radius: 50%;
  display: flex;
}

.item:hover {
  box-shadow: 0 2px 6px 0 rgba(32, 33, 36, 0.28);
  border-color: rgba(223, 225, 229, 0);
}

.titulo {
  color: white;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}